* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Sans Mateo', sans-serif;

}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: "proxima nova";
	font-size: larger;

}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.nav-link {
	color: #157875;
	font-family: "Sans Mateo";
	font-weight: bolder;
}

.card-title {
	color: #17332E;
	font-family: "proxima nova";
	font-weight: bold;
}

.card-text {
	font-family: "proxima nova";
	font-weight: bolder;
}

.pris {
	font-family: "proxima nova";
	font-weight: bolder;
}

.nav-link:hover{
	color: #f5f7f6;
}

.active{
	color: #f5f7f6 !important;
}

.navbar-nav .nav-link .active {
	color: #f5f7f6;
}

.footer .link {
	color: #dde0e3;
	font-family: "proxima nova";
	text-underline: none;
	text-decoration-line: none;
}

.rubrik {
	color: #17332E;
	font-family: "proxima nova";
	text-underline: none;
	text-decoration-line: none;
	font-weight: bold;
}

.btn {
	color: #ffffff;
	border-radius: 0px 25px;
	font-family: "proxima nova";
	font-weight: bold;
}

.card {
	border-radius: 0px 40px;
	border: none;
}

.card-img-top {
	border-radius: 0px 40px;
	border: none;
}


.aboutus-img-cow {
	position: relative;
	margin-bottom: 150px;

}

.aboutus-title p {
	font-size:10vw;
	font-family: "Sans Mateo", sans-serif;
	color: white;
	position: absolute;
	top: 35%;
	left: 62%;

}


.aboutus-img-footer {
	position: absolute;
	bottom: 0;
}


.about-farmhouse-img {
	border-radius: 0 0 0 20%;
}

.about-aboutus-img {
	border-radius: 0 20% 0 0;
}

.farmhousesection {
	margin-bottom: 100px;
}

.section-top-title h1 {
	font-size: 5vw;
}

.chewingcow {
	border-radius: 0 30% 0 30%;
	max-height: 900px;
	width: auto;
}

.section-top {
	margin-bottom: 100px;
}

.farmshop {
	border-radius: 0 30% 0 30%;
	max-height: 900px;
	width: auto;
}

.natureabout {
	border-radius: 0 30% 0 30%;
}

.section-top p {
	font-family: proxima-nova;
	font-size: 1.5rem;

}

.prodbilledeinfo {
	border-radius: 0 30% 0 30%;
}

#linefigure {
	background: #17332E;
	height: 1px;
	width: 25vw;
}
@media screen and (max-width: 991px){
	.about-farmhouse-img {
		border-radius: 0 20% 0 20%;
	}

	.about-aboutus-img {
		border-radius: 0 20% 0 20%;
	}

	.section-top p {
		font-size: 1rem;
	}

}

.btn-lg{
	padding: 0.1rem 3rem;
	background-color: #6f7831;
}
